In [1]:
import pandas as pd
import numpy as np

In [4]:
grayfaces_test = pd.read_csv('/Users/xavieryn/GitHub/QEAFinalProject/OlinDataSet/grayfaces_test.csv', header=None)
grayfaces_train = pd.read_csv('/Users/xavieryn/GitHub/QEAFinalProject/OlinDataSet/grayfaces_train.csv', header=None)
subject_test = pd.read_csv('/Users/xavieryn/GitHub/QEAFinalProject/OlinDataSet/subject_test.csv', header=None)
subject_train = pd.read_csv('/Users/xavieryn/GitHub/QEAFinalProject/OlinDataSet/subject_train.csv', header=None)

In [ ]:
grayfaces_train.head()

,0,1,2,3,4,5,6,7,8,9,...,346,347,348,349,350,351,352,353,354,355
0,234.23,233.29,233.20,232.99,231.20,231.29,230.02,230.00,240.07,241.12,...,233.98,233.01,235.39,235.33,240.64,242.54,219.85,220.80,225.01,226.00
1,233.66,233.04,233.68,232.92,230.95,230.13,230.03,230.01,239.07,240.40,...,233.53,232.05,234.26,235.74,242.42,241.88,220.24,219.94,224.95,226.00
2,232.98,232.61,234.08,233.14,230.32,229.18,229.92,230.07,238.85,239.49,...,232.13,231.37,229.16,228.35,245.61,240.48,219.16,219.77,224.15,226.01
3,233.02,232.79,233.27,233.87,230.15,229.98,228.44,228.26,238.43,238.89,...,229.26,230.25,218.43,217.96,233.96,242.58,215.04,218.99,223.26,225.88
4,233.02,232.88,232.98,233.04,229.21,228.05,227.98,226.91,237.69,238.53,...,217.06,216.68,157.69,155.67,176.98,242.39,205.41,218.14,223.15,225.44

In [9]:
grayfaces_train.shape

(4096, 356)

In [10]:
grayfaces_train[0][0]

np.float64(234.04)